*{
/* 
border: 2px solid red;
margin: 0;
font 
*/
width: 62px;
display: block;
height: 22px;
padding-top: 16px;
padding: 0px 13px 0px 13px;
background-image:  url(../../imagens/lupa.png) no-repeat center right;
background-color: yellow;
/* font-family: TT-Supermolot-Bold; */
display: block;
margin-right: 60px;
margin-left: 60px;
margin-top: 16px;
margin-bottom: 16px;
padding: 4px 15px;
border: solid 3px red;
gap: 10px;
border: none;
border-radius:0;
text-align: center;
justify-content: center;
color: yellow;
padding-left: 1px ;
align-items: center;
align-self: center;
cursor: pointer;
font-family: TT-Supermolot-Bold, serif;

}
